/* GENERAL
-----------*/

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    height: 100vh;
}


/* NAVBAR
----------*/


.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(4,92,204,0.7);
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    margin: 0 10px;
    padding: 10px;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.navbar ul li a:hover {
    color: skyblue;
}

/* SECTION
-----------*/

section h1{
    font-size: 40px;
}

/* FORMULAIRE
--------------*/

section#Formulaire{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/background2.png);
}

section#Formulaire img#affichePromo{
    position: absolute;
    top: 195px;
    right: 200px;
}

section#Formulaire img#afficheOuvert{
    position: absolute;
    top: 250px;
    left: 282px;
}

section#Formulaire div#heureOuverture{
    color: #D8152D;
    font-style: oblique;
    font-size: 25px;
    position: absolute;
    top: 490px;
    left: 282px;
    background-color: white;
    border: solid #D8152D;
}

section#Formulaire div#textPromo {
    color: #D8152D;
    font-style: oblique;
    font-size: 20px;
    position: absolute;
    top: 440px;
    right: 225px;
    background-color: white;
    border: solid #D8152D;
}

form.formulaire {
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(4,92,204,0.4);
}

form fieldset#field1 label {
    display: block;
    padding: 0px 0px 15px 0px;
}

form fieldset#field1 input {
    display: block;
    width: 97%;
}

form fieldset#field1 div {
    font-size: 12px;
}

form fieldset#field2 input.bouton {
    border: 0;
    background-color: #0477CC;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

form fieldset#field2 input.bouton:hover{
    background-color: #045CCC;
}

form fieldset div#errNom, div#errPrenom {
    color: #D8152D;
}

div#heureOuverture {
    font-size: 30px;
    color: white;
    background-color: #D8152D;
}


/* RDV (Calendrier)
--------------------*/

section#RDV{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/background2.png);
}

.calendrier {
    text-align: center;
    width: 270px;
    background: whitesmoke;
    position: relative;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

#Mois {
    position: relative;
    background: red;
    margin-top: auto;
    padding: 5px, 10px;
    font-size: 50px;
    font-weight: 700;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    color: white;
}

#Jour {
    margin-top: 10px;
    font-size: 35px;
    font-weight: 180px;
    color: black;   
}

#NumeroJour {
    font-size: 80px;
    font-weight: 10px;
    color: rgb(220, 10, 10);
    margin-top: 20px;
}

#Annee {
    margin-bottom: 20px;
    font-size: 20px;
    color: black;
}

section#RDV div.texte {
    text-align: left;
}

section#RDV div#boxRappel {
    background-color: aliceblue;
    border: dashed red;
}

section#RDV div#boxRappel h2 {
    text-align: center;
}


/* INFORMATIONS
----------------*/

section#Informations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/background2.png);
}

section#Informations h1, h2{
    text-align: center;
    top: 50px;
}

section#Informations div#elec, #route{
    background-color: rgba(103,181,216,0.4);
}

section#Informations div#frein, #batterie{
    background-color: rgba(21,148,216,0.4);
}
